.Header {
    height: 100px;
    background: var(--background);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.Header nav {
    display: flex;
    align-items: center;
    width: 40%;
}

.Header a {
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--text-color);
    margin-right: 35px;
    height: 60px;
    display: flex;
    align-items: center;
}

.Header a:hover {
    border-bottom: 5px solid var(--btn-color);
}

.search_block {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search {
    position: relative;
}

.search_input {
    padding: 0 30px 0 20px;
    width: 316px;
    height: 48px;
    border-radius: 25px;
    border: none;
}

.search_icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.user_block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 3px solid var(--btn-color);
    width: 192px;
}

.user_block img {
    margin-right: 10px;
}