@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap');
/*font-family: 'Inter,Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --font-family: 'Montserrat', sans-serif;
    --font-overview: 'Inter', sans-serif;
    --btn-color: #F29D52;
    --border-color: #b73030;
}

/*Dark them*/
html[data-theme='dark'] {
    --background: #0D0D0D;
    --text-color: #fff;
}

/*Light them*/
html[data-theme='liht'] {
    --background: #fff;
    --text-color: #0D0D0D;
}

.MainLayouts {
    background: var(--background);
    min-height: 100vh;
}