.PreviewMovies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px 70px;
    margin-top: 5vh;
}

.movies__container {
    display: flex;
    justify-content: center;
}

